@using Microsoft.AspNetCore.Identity
@using HotelApp.Data.Models
@using HotelApp.Web.ViewModels.Booking

@model IEnumerable<MyBookingsViewModel>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "My Bookings";
    var userEmail = UserManager.GetUserName(User);

    int currentPage = ViewBag.PageNumber ?? 1;
    int totalPages = ViewBag.TotalPages ?? 1;
}

<div class="container mt-3 mb-5">
    <small class="text-end d-block">Hello, @userEmail!</small>

    @if (!Model.Any())
    {
        <div class="mt-5 text-center">
            <h3 class="mt-3 mb-3">Your bookings list is empty!</h3>
            <p>Add a booking to your booking list to see it here.</p>
            <p>Browse our rooms and choose the perfect stay for your upcoming visit.</p>
            <p>Don't miss out on our special offers and seasonal promotions!</p>
            <p>If you need help, our reception team is always ready to assist you.</p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-danger btn-outline mt-2">
                View All Rooms
            </a>
        </div>
    }
    else
    {
        <div>
            <h3 class="mt-3 mb-5 fw-bold">@ViewData["Title"]</h3>
            @foreach (var booking in Model)
            {
                <div>
                    <h6 class="card-title">Booking Id: @booking.Id</h6>
                    <p>Created On: @booking.CreatedOn.ToString("yyyy-MM-dd HH:mm")</p>
                    <p>
                        Arrival Date: @booking.DateArrival.ToString("yyyy-MM-dd") |
                        Departure Date: @booking.DateDeparture.ToString("yyyy-MM-dd")
                    </p>
                    <p>Category: @booking.Category</p>
                    <p>
                        Adults Count: @booking.AdultsCount |
                        Child Count: @booking.ChildCount |
                        Babies Count: @booking.BabyCount
                    </p>
                    <p>Status: @booking.Status</p>
                    <p>Total Amount $@booking.TotalAmount.ToString("0.00")</p>
                    <p>Paid Amount $@booking.PaidAmount.ToString("0.00")</p>
                    <p>Remaining Amount $@booking.RemainingAmount.ToString("0.00")</p>
                </div>
                <hr />
            }

            @await Html.PartialAsync("_PaginationPartial", (currentPage, totalPages, "My", "Booking"))
            <p class="text-center mt-2">Page @currentPage of @totalPages</p>
        </div>
    }
</div>


