@using HotelApp.Web.ViewModels.Booking
@model IEnumerable<MyBookingsViewModel>

@{
    ViewData["Title"] = "My Bookings";
}

<div class="container mt-4">

    @if (!Model.Any())
    {
        <div class="alert alert-warning text-center">
            <strong>Your bookings list is empty!</strong> Add booking to your booking list to see them here.
        </div>
    }
    else
    {
        <div>
            @foreach (var booking in Model)
            {
                <div>
                    <h6 class="card-title">Booking Id: @booking.Id</h6>
                    <p>Created On: @booking.CreatedOn.ToString("yyyy-MM-dd HH:mm")</p>
                    <p>
                        Arrival Date: @booking.DateArrival.ToString("yyyy-MM-dd") |
                        Departure Date: @booking.DateDeparture.ToString("yyyy-MM-dd")
                    </p>
                    <p>Category: @booking.Category</p>
                    <p>
                        Adults Count: @booking.AdultsCount |
                        Child Count: @booking.ChildCount |
                        Babies Count: @booking.BabyCount
                    </p>
                </div>
                <hr />
            }
        </div>
    }
</div>

<link rel="stylesheet" href="~/css/user.css">


