@using HotelApp.Web.ViewModels.Room
@model FindRoomResultViewModel

<h3 class="mt-5 mb-1 text-center">Find Room Result @Model.DateArrival – @Model.DateDeparture</h3>
<h5 class="mb-5 text-center">
    @if (!string.IsNullOrEmpty(Model.CategoryName))
    {
        @Model.CategoryName
    }
</h5>

@if (!Model.Rooms.Any())
{
    <h3 class="mt-5 mb-5 text-center">No available rooms for these dates.</h3>
}
else
{
    <div class="row">
        @foreach (var room in Model.Rooms)
        {
            <div class="row justify-content-center mb-4">
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-12 col-md-6 d-flex align-items-center">
                            <img src="@room.ImageUrl" class="img-fluid" />
                        </div>
                        <div class="col-12 col-md-6 mt-2">
                            <h5>@room.Name</h5>
                            <p>@room.Category</p>
                            <a class="btn btn-primary"
                               asp-controller="Booking"
                               asp-action="Add"
                               asp-route-roomId="@room.Id"
                               asp-route-dateArrival="@Model.DateArrival.ToString("yyyy-MM-dd")"
                               asp-route-dateDeparture="@Model.DateDeparture.ToString("yyyy-MM-dd")">
                                Booking
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
        
}
