@using HotelApp.Web.Extensions
@using HotelApp.Web.ViewModels.Room
@using HotelApp.Web.ViewModels.Booking
@model FindRoomResultViewModel

@{
    ViewData["Title"] = "Find Room Result";
}

<div class="container mt-5 mb-5 d-flex flex-column align-items-center">
    <div class="mb-5 text-center">
        <h1 class="mb-1">@ViewData["Title"]</h1>
        <h5 class="mb-3">@Model.DateArrival.ToString("yyyy-MM-dd") @Model.DateDeparture.ToString("yyyy-MM-dd")</h5>

        @if (!string.IsNullOrEmpty(Model.CategoryName))
        {
            <h5>@Model.CategoryName</h5>
        }
    </div>

    @if (!Model.Rooms.Any())
    {
        <h3 class="mb-3 text-danger fw-normal">Sorry, no available rooms for these dates!</h3>
        <p>Try adjusting your dates or selecting another room category.</p>
        <p>Our reception team is happy to help you find the perfect accommodation.</p>
        <p>Don’t forget to check our special offers and seasonal promotions!</p>

        <a asp-controller="Home" asp-action="Index" class="btn btn-danger btn-outline mt-2">
            View All Rooms
        </a>
    }
    else
    {
        <div class="d-flex justify-content-end mt-4 mb-5 w-100">
            <div id="sessionRoomContainer" class="w-30">
            </div>
        </div>

        @for (int categoryIndex = 0; categoryIndex < Model.FreeCategoryCount; categoryIndex++)
        {
            @* TODO: categoryIndex and roomIndex should not be used here for logic purposes. *@

            var categoryRooms = Model.Rooms.Where(r => r.CategoryIndex == categoryIndex).ToList();
            var categoryId = categoryRooms.First().Category.Replace(" ", "_");

            <div class="row justify-content-center mb-5">
                <div class="col-12 col-md-10">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <img src="@categoryRooms.First().ImageUrl" class="img-fluid" />
                        </div>
                        <div class="col-12 col-md-6">
                            @for (int roomIndex = 0; roomIndex < categoryRooms.Count; roomIndex++)
                            {
                                var room = categoryRooms[roomIndex];
                                var hiddenClass = roomIndex == 0 ? "" : "d-none";

                                <div class="border rounded p-3 mb-4 room-form-@categoryId @hiddenClass" data-room-index="@roomIndex">
                                    <h5>@room.Category @room.Name</h5>
                                    <div class="mb-2">
                                        <label>Adults</label>
                                        <select class="form-control adults-select"
                                                id="AdultsCount-@room.Id"
                                                data-maxguests="@room.CategoryBeds">
                                            <option value="" selected>Please Select</option>
                                            @for (int i = 1; i <= room.CategoryBeds; i++)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                        <span class="text-danger" id="adultsError-@room.Id"></span>
                                    </div>
                                    <div class="mb-2">
                                        <label>Children</label>
                                        <select class="form-control children-select" id="childCountSelect-@room.Id">
                                            <option value="0" selected>Please Select</option>
                                        </select>
                                    </div>
                                    <div class="mb-2">
                                        <label>Babies</label>
                                        <select class="form-control babies-select" id="babyCountSelect-@room.Id">
                                            <option value="0" selected>Please Select</option>
                                        </select>
                                    </div>

                                    <a class="btn btn-danger" id="btn-@room.Id" onclick="return saveRoomToSession('@room.Id')">
                                        Add to Booking
                                    </a>
                                </div>
                            }

                            @if (categoryRooms.Count() > 1)
                            {
                                <button type="button"
                                        class="btn btn-outline-danger add-category-in-booking mb-3 show-next-room-btn"
                                        data-category="@categoryId"
                                        data-next-index="1">
                                    <span class="fw-bold fs-5">+</span> Add One More @categoryRooms.First().Category
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

@section Scripts {
    <script src="~/js/booking.js"></script>
    <script>
        const dateArrival = '@Model.DateArrival.ToString("yyyy-MM-dd")';
        const dateDeparture = '@Model.DateDeparture.ToString("yyyy-MM-dd")';
        const days = @Model.DaysCount;
    </script>
}