@using HotelApp.Web.ViewModels.Admin.PaymentManagement
@using Microsoft.AspNetCore.Identity
@model IEnumerable<PaymentManagementIndexViewModel>

@inject RoleManager<IdentityRole> roleManager;

<div class="container mt-5">
    <h1 class="text-center mb-4 text-warning fw-bold">Payment Management</h1>

    <div class="d-flex justify-content-between mb-3">
        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-secondary fw-bold">
            <i class="bi bi-arrow-left"></i> Back to Dashboard
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-dark table-hover shadow-lg rounded-3">
            <thead class="thead-dark">
                <tr class="text-warning">
                    <th>#</th>
                    <th>Created On</th>
                    <th>Family and Name</th>
                    <th>Is Deleted</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var payment in Model)
                {
                    <tr>
                        <td class="align-middle">@payment.Id</td>
                        <td class="align-middle">@payment.CreatedOn.ToString("yyyy-MM-dd HH:mm")</td>
                        <td class="align-middle">@payment.PaymentUserFullName</td>
                        <td class="align-middle">@payment.IsDeleted</td>
                        <td>
                            <div class="d-flex justify-content-center gap-2">
                                <a asp-action="Details" asp-route-id="@payment.Id" class="btn btn-success btn-sm fw-bold">
                                    <i class="bi bi-eye square"></i>Details
                                </a>
                                <a asp-action="ToggleDelete" asp-route-id="@payment.Id" class="btn @(payment.IsDeleted ? "btn-warning" : "btn-danger") btn-sm fw-bold">
                                    <i class="bi @(payment.IsDeleted ? "bi-arrow-clockwise" : "bi-trash")"></i>
                                    @(payment.IsDeleted ? "Restore" : "Delete")
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

