@model HotelApp.Web.ViewModels.Admin.BookingManagement.BookingManagementDetailsViewModel

@{
    ViewData["Title"] = "Booking Details";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-7">
            <h2 class="fw-bold text-primary mb-3">Booking Details</h2>
            <h6 class="card-title">Booking @Model.Id</h6>
            <hr />
            <p>Created On: @Model.CreatedOn.ToString("yyyy-MM-dd HH:mm:ss")</p>
            <p>
                Status: @Model.Status
                @if (@Model.Status == "Awaiting Payment")
                {
                <button class="btn btn-danger fw-bold shadow-sm" id="Add">Add Payment</button>
                <div id="add_payment"></div>
                }
            </p>
            <p>Created By: @Model.UserEmail</p>
            <p>Manager: @Model.ManagerEmail</p>
            <p>Arrival Date: @Model.DateArrival.ToString("yyyy-MM-dd")</p>
            <p>Departure Date: @Model.DateDeparture.ToString("yyyy-MM-dd")</p>
            <p>Day(s): @Model.DaysCount</p>
            <p>Room: @Model.Room</p>
            <p>Category: @Model.RoomCategory</p>
            <p>Total Amount $@Model.TotalAmount.ToString("0.00")</p>
            <p>Paid Amount $@Model.PaidAmount.ToString("0.00")</p>
            <p>Remaining Amount $@Model.RemainingAmount.ToString("0.00")</p>
            <p>Adults: @Model.AdultsCount</p>
            <p>Children: @Model.ChildCount</p>
            <p>Babies: @Model.BabyCount</p>
            <p>Is Deleted: @Model.IsDeleted</p>
            <div class="mt-4 mb-5">
                <a asp-action="Index" class="btn btn-outline-primary ms-2">
                    <i class="bi bi-arrow-left"></i> Back to List
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    $('#Add').click(function () {
        $('#add_payment').load('/Admin/PaymentManagement/Create?bookingId=@Model.Id');
        $('#add_payment').toggle();
    });
</script>
