@model HotelApp.Web.ViewModels.Admin.BookingManagement.BookingManagementDetailsViewModel

@{
    ViewData["Title"] = "Booking Details";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <h2 class="fw-bold text-primary mb-3">Booking Details</h2>
            <h6 class="card-title">Booking @Model.Id, Is Deleted: @Model.IsDeleted</h6>
            <hr />
            <p>Created On: @Model.CreatedOn.ToString("yyyy-MM-dd HH:mm:ss")</p>
            <p>
                Status: @Model.Status
                @if (Model.AllowedOperation == "AddPayment")
                {
                    <button class="btn btn-danger fw-bold shadow-sm"
                            onclick="AddPayment('@Model.Id')"
                            id="addPayment">
                        Add Payment
                    </button>
                    <div id="createPayment"></div>
                }
            </p>
            @if (@Model.IsDeleted == true)
            {
                <p class="text-danger fw-bold">Add payment, add stay are not allowed. This booking has been deleted.</p>
            }
            <p>Created By: @Model.UserEmail</p>
            <p>Owner: @Model.Owner</p>
            <p>Booking for another person: @(Model.IsForAnotherPerson ? "Yes" : "No")</p>
            <p>Manager: @Model.ManagerEmail</p>
            <p>Arrival Date: @Model.DateArrival.ToString("yyyy-MM-dd")</p>
            <p>Departure Date: @Model.DateDeparture.ToString("yyyy-MM-dd")</p>
            <p>Day(s): @Model.DaysCount</p>
            <h6>Rooms:</h6>
            <ul>
                @foreach (var room in Model.Rooms)
                {
                    <li>
                        <a asp-area="Admin"
                           asp-controller="RoomManagement" asp-action="Details"
                           asp-route-id="@room.RoomId" class="link-danger" target="_blank">
                           @room.RoomName (@room.RoomCategory)
                        </a>
                        @if (room.IsAllowedAddStay && !Model.IsDeleted)
                        {
                            <button class="btn btn-danger fw-bold shadow-sm ms-2"
                                    onclick="AddStay('@room.BookingRoomId')">
                                Add Stay
                            </button>
                            <div id="createStay-@room.BookingRoomId"></div>
                        }
                    </li>
                }
            </ul>
            <p>Total Amount $@Model.TotalAmount.ToString("0.00")</p>
            <p>Paid Amount $@Model.PaidAmount.ToString("0.00")</p>
            <p>Remaining Amount $@Model.RemainingAmount.ToString("0.00")</p>
            <div class="mt-4 mb-5">
                <a asp-action="Index" class="btn btn-outline-primary ms-2">
                    <i class="bi bi-arrow-left"></i> Back to List
                </a>
            </div>

            <h6>Rooms:</h6>
            <table class="table table-dark table-striped mt-3 mb-5">
                <thead>
                    <tr>
                        <th>BookingRoomId</th>
                        <th>Room Status</th>
                        <th>Room</th>
                        <th>Adults</th>
                        <th>Children</th>
                        <th>Babies</th>
                    </tr>     
                </thead>
                <tbody>
                    @foreach (var room in Model.Rooms)
                    {
                        <tr>
                            <td class="align-middle">
                                <a asp-area="Admin" class="link-light"
                                    asp-controller="BookingRoomManagement" asp-action="Details"
                                    asp-route-id="@room.BookingRoomId" target="_blank">
                                        View BookingRoom
                                 </a>
                            </td>
                            <td class="align-middle">@room.RoomStatus</td>
                            <td class="align-middle">
                                <a asp-area="Admin" asp-controller="RoomManagement"
                                   asp-action="Details" asp-route-id="@room.RoomId"
                                   class="link-danger" target="_blank">
                                    @room.RoomName
                                </a>
                            </td>
                            <td class="align-middle">@room.AdultsCountPerRoom</td>
                            <td class="align-middle">@room.ChildCountPerRoom</td>
                            <td class="align-middle">@room.BabyCountPerRoom</td>
                        </tr>
                    }
                    <tr>
                        <td  colspan="3" class="text-end fw-bold">Total:</td>
                        <td class="align-middle">@Model.AdultsCount</td>
                        <td class="align-middle">@Model.ChildCount</td>
                        <td class="align-middle">@Model.BabyCount</td>
                    </tr>
                </tbody>
            </table>
            
            <h4 class="mt-5 fw-bold text-secondary">Payment History</h4>

            @if (Model.Payments != null && Model.Payments.Any())
            {
                <table class="table table-dark table-striped mt-3 mb-5">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Paid By</th>
                            <th>Phone</th>
                            <th>Payment Method</th>
                            <th>Is Deleted</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var payment in Model.Payments)
                        {
                            <tr>
                                <td>@payment.CreatedOn.ToString("yyyy-MM-dd HH:mm")</td>
                                <td>$@payment.Amount.ToString("0.00")</td>
                                <td>@payment.PaymentUserFullName</td>
                                <td>@payment.PaymentUserPhoneNumber</td>
                                <td>@payment.PaymentMethodName</td>
                                <td>
                                    @(payment.IsDeleted ? "Yes" : "No")
                                </td>
                                <td>
                                    <a asp-controller="PaymentManagement"
                                       asp-action="Details"
                                       asp-route-id="@payment.Id"
                                       class="text-info fw-bold" target="_blank">
                                        Details
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="text-muted">No payments have been created for this booking yet.</p>
            }


            <h4 class="mt-5 fw-bold text-secondary">Stay History</h4>

            @if (Model.Stays != null && Model.Stays.Any())
            {
                <table class="table table-dark table-striped mt-3 mb-5">
                    <thead>
                        <tr>
                            <th>Room</th>
                            <th>BookingRoom</th>
                            <th>Guest Names</th>
                            <th>Age</th>
                            <th>Created On</th>
                            <th>Is Completed</th>
                            <th>Is Deleted</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var stay in Model.Stays)
                        {
                            <tr>
                                <td>@stay.RoomName</td>
                                <td>
                                    <a asp-area="Admin" class="link-light"
                                    asp-controller="BookingRoomManagement" asp-action="Details"
                                    asp-route-id="@stay.BookingRoomId" target="_blank">
                                        View BookingRoom
                                 </a>
                                </td>
                                <td>@stay.GuestFirstName @stay.GuestFamilyName</td>
                                <td>@stay.GuestAge</td>
                                <td>@stay.CreatedOn.ToString("yyyy-MM-dd HH:mm")</td>
                                <td>
                                    @if (stay.CheckoutOn == null)
                                    {
                                        <span>No</span>
                                        <form method="post" asp-action="Edit" asp-controller="StayManagement" class="d-inline">
                                            <input type="hidden" name="Id" value="@stay.Id" />
                                            <input type="hidden" name="BookingRoomId" value="@stay.BookingRoomId" />
                                            <button type="submit" class="btn btn-danger btn-sm m-0 fw-bold ms-2">Check Out</button>
                                        </form>
                                    }
                                    else
                                    {
                                        <span class="text-danger">Yes</span>
                                        <p>@stay.CheckoutOn.Value.ToString("yyyy-MM-dd HH:mm")</p>
                                    }
                                </td>

                                <td>
                                    @(stay.IsDeleted ? "Yes" : "No")
                                </td>
                                <td>
                                    <a asp-controller="StayManagement"
                                       asp-action="Details"
                                       asp-route-id="@stay.Id"
                                       class="text-info fw-bold" target="_blank">
                                        Details
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="text-muted">No stays have been created for this booking yet.</p>
            }

        </div>
    </div>
</div>

<script src="~/js/admin/paymentManagement.js" asp-append-version="true"></script>
<script src="~/js/admin/stayManagement.js" asp-append-version="true"></script>
