@using HotelApp.Web.ViewModels.Admin.BookingManagement.Report
@model BookingManagementReportRevenuePdf
@using System.Globalization

@{
    Layout = null;
    ViewData["Title"] = "Booking Revenue Report";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/pdf.css" />
</head>
<body>

    <h1>@Model.PdfTitle</h1>
    <h2>@ViewData["Title"]</h2>
    <h2>
        @CultureInfo.GetCultureInfo("en-US").DateTimeFormat.GetMonthName(Model.ReportSearch.Month) @Model.ReportSearch.Year
    </h2>

    <table>
        <thead>
            <tr>
                <th>Booking ID</th>
                <th>Created On</th>
                <th>Arrival Date</th>
                <th>Departure Date</th>
                <th>Status</th>
                <th>Paid Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var b in Model.ReportResults)
            {
                <tr>
                    <td>@b.Id</td>
                    <td>@b.CreatedOn</td>
                    <td>@b.DateArrival</td>
                    <td>@b.DateDeparture</td>
                    <td>@b.Status</td>
                    <td>$@b.PaidAmount.ToString("0.00")</td>
                </tr>
            }
            <tr>
                <td colspan="5" class="total-label">
                    <span class="total-text">Total Revenue</span>
                </td>
                <td class="total-value">@Model.ReportResults.First().PaidCurrency@Model.TotalRevenue.ToString("0.00")</td>
            </tr>
        </tbody>
    </table>

    <p>Created by: @Model.PdfOwnerUser</p>
    <p>@Model.PdfGeneratedOn</p>

</body>
</html>
